---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	background-image: url('../img/cork-wallet.png');
}

.container-fluid {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.section {
	height: 80vh;
	margin-top: 10vh;
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	padding-top: 60px;
  	margin-left: 15px !important;

	p {
		font-size: 20px;
		font-family: Georgia, serif;
		color: #666;
		margin-top: 60px;
		// text-shadow: 1px 1px #000;
		line-height: 1.7;
	}

	p.caption {
		font-size: 14px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		color: #ddd;
		font-style: italic;
	}
}

.section--intro {
  background-size: auto 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 auto;
}

// TODO: Style this
.gang-testimony {
  blockquote {
    border: none;
  }
}

.gang-testimony__image {
  display: block;
  margin-left: 15%;
  float: left;
}

.gang-testimony__narrative-wrapper {
  float: left;
  margin-left: 1em;
  width: 50%;
}

.gang-testimony__name {
  margin-top: 0;
}
