---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
	background-image: url('../img/cork-wallet.png');
}

.container-fluid {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.section {
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	padding-top: 60px;
  	margin-left: 15px !important;

	p {
		font-size: 1.5em;
		font-family: Georgia, serif;
		color: #666;
		line-height: 1.7;
		margin-bottom: 40px;
		vertical-align: top;
	}

	p.caption {
		font-size: 1em;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		color: #666;
		font-style: italic;
		text-align: left;
	}

	p.emphasis {
		font-size: 4.5em;
		margin-top: 0px;
	}

	span#hed {
		font-size: 1.6em;
		font-family: "Roboto", sans-serif;
		font-weight: 900;
		color: #3d3d3d;
		line-height: 1;
	}

	p.emphasis2 {
		font-size: 2em;
	}
}

// IMAGES
.portrait-img {
	height: 100%;
	width: auto;
}

.fullbleed-img {
	width: 100%;
	height: auto;
}

.section--intro {
  background-size: auto 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 auto;
}

video {
	margin-top: 40px;
	margin-bottom: 40px;
}

hr {
	width: 150px;
	border: 1px #666 dashed;
	margin-top: 50px;
	margin-bottom: 50px;
}

// TODO: Style this
.gang-testimony {
  blockquote {
    border: none;
  }
}

.gang-testimony__image {
  display: block;
  /* margin-left: 15%; */
  /* float: left; */
  text-align:center;
  margin:auto;
}

.gang-testimony__narrative-wrapper {
  /*float: left;*/
  margin:auto;
  width: 80%;
}

.gang-testimony__name {
  margin-top: 0;
}

/* carousel styles */
.carousel-inner {min-height:675px;}
a.carousel-control.left,
a.carousel-control.left:hover, 
a.carousel-control.right,
a.carousel-control.right:hover {
  background:none;
}




