---
layout: default
sections:
    - template: intro.html
    - template: cambo-genocide.html
    - template: detention.html
    - template: refugee-camp.html
    - template: resettlement-chart.html
    - template: failure-resettlement.html
    - template: incarceration.html
    - template: law-1996.html
    - template: detention.html
    - template: zadvydas.html
    - template: release-activism.html
    - template: limbo.html
    - template: sources.html
---

{% for section in page.sections %}
<section>
  {% include {{section.template}} %}
</section>
{% endfor %}
