---
layout: default
sections:
    - title: Introduction
      template: intro.html
    - title: Cambodian Genocide
      template: cambo-genocide.html
    - title: Refugee Camps 
      template: refugee-camp.html
    - template: resettlement-chart.html
    - title: Failure of Resettlement
      template: failure-resettlement.html
    - title: Turning life around
      template: incarceration.html
    - title: 1996 laws
      template: law-1996.html
    - title: Detention
      template: detention.html
    - title:  Zadvydas v. Davis
      template: zadvydas.html
    - title: Release and activism
      template: release-activism.html
    - title: Refugees in limbo
      template: limbo.html
    - title: About this project
      template: sources.html
---

{% for section in page.sections %}
<section>
  {% include {{section.template}} section=section %}
</section>
{% endfor %}
