---
layout: default
sections:
    - title: Introduction
      template: intro.html
      slug: intro
      image: many-family.png
    - title: Cambodian Genocide
      template: cambo-genocide.html
      slug: cambo-genocide
      image: cambodian-genocide-1200.png
    - title: Refugee Camps
      template: refugee-camp.html
      slug: refugee-camp
      image: refugee-camps-copy.JPG
    - template: resettlement-chart.html
      slug: resettlement-chart
    - title: Failure of Resettlement
      template: failure-resettlement.html
      slug: failure-resettlement
    - title: Gang Testimonies
      slug: gang-testimonies
      template: gang-testimonies.html
    - title: Turning life around
      template: incarceration.html
      slug: incarceration
    - title: 1996 laws
      template: law-1996.html
      slug: law-1996
    - title: Detention
      template: detention.html
      slug: detention
    - title: Zadvydas v. Davis
      template: zadvydas.html
      slug: zadvydas
    - title: Deportation limbo
      template: limbo.html
      slug: limbo
    - title: Release and activism
      template: release-activism.html
      slug: release-activism
    - title: Call to Action
      template: call-to-action.html
      slug: call-to-action
    - title: About this project
      template: sources.html
      slug: sources
---

<article class="container-fluid wrapper">
  {% for section in page.sections %}
  <section id="{{section.slug}}" class="section row section--{{section.slug}}">
    {% include {{section.template}} section=section %}
  </section>
  {% endfor %}
</article>
