<div class="col-md-offset-2 col-md-8 col-sm-12">
	<img class="fullbleed-img" src="img/many's-daughters.jpg" alt="Many's daughter.">
	<p class="caption">Many’s daughters. Photo by Many Uch.</p>

	<p>In 2010, Many was granted a pardon by Washington State Governor Chris Gregoire, and in 2016 he was appointed to serve on the Washington Statewide Reentry Council. However, the 1996 laws that made his deportation automatic meant that this pardon and his government service do not necessarily cancel his deportation. He remains on “the list” to be deported to Cambodia. He does not know if or when he could be taken from his wife and young daughters.</p>
	<hr>
	<h3 class="section-heading">Take Action:</h3>
	<h4>Call your lawmaker</h4>
	<p>Call your Senator or Representative to say that we need immigration policies that allow people like Many to demonstrate to a judge that they are not a threat to their communities - they are in fact beloved fathers, sons, activists, leaders, friends, and neighbors who have already moved on from the mistakes of their past. <a href="http://www.immdefense.org/fix-96-end-mass-criminalization-immigrants/">Learn more about the 1996 immigration laws</a> that have pushed so many immigrants into the deportation pipeline for 20 years. You can also <a href="http://www.senate.gov/senators/contact/">find your Senator</a> or your <a href="http://www.house.gov/representatives/find/">Representative</a>.</p>
	<p>Sample script:</p>
	<p>“I am calling to ask you to support legislation that restores due process to all immigrants, even those with criminal convictions, so that everyone has the right to tell their story to a judge before being deported. Deporting immigrants, refugees, and lawful permanent residents who have paid their debts to society and are supporting their families doesn’t make us safer. Please take a stand for family unity and second chances.”</p>
	<h4>Tweet</h4>

<div class="col-md-6 col-sm-12">
	<br>
	<p class="tweet">I stand with Many Uch. It's time to #Fix96&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/1Y8LOTU" data-text="I stand with Many Uch. It's time to #Fix96" data-size="large">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
</div>
<div class="col-md-6 col-sm-12">
	<br>
	<p class="tweet">Many Uch has paid his debt ten-fold and deserves to stay with his family. It's time to #Fix96&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/1Y8LOTU" data-text="Many Uch has paid his debt ten-fold and deserves to stay with his family. It's time to #Fix96" data-size="large">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
</div>

</div>