<hr style="margin-top:0px;">
<div class="col-md-offset-2 col-md-8 col-sm-12">
	<h3 class=“section-heading”>Born into Chaos</h3>
	<p>Many was born in Cambodia in 1976, in the middle of the genocide (1975-1979) orchestrated by the Khmer Rouge, which rose to power in the chaos of the US bombings of Cambodia during the Vietnam War.</p>
</div>
<div class="col-md-offset-1 col-md-10 col-sm-12">
	<p class="emphasis2">The genocide killed 2 million people through starvation, murder, and torture – an estimated 21% of the Cambodian population.</p>
</div>
<div class="col-md-offset-2 col-md-8 col-sm-12">
	<p>In 1979, the Vietnamese army invaded Cambodia to expel the Khmer Rouge. Many, his mother, and his two older brothers were taken by the Khmer Rouge into the jungle as prisoners. They were separated from his father and spent a year foraging in the jungle until they were found and rescued by the Red Cross. His father had assumed that they had died and eventually remarried. </p>
	<p>Many, his mother and his siblings spent time in several camps in Thailand for three years before arriving at a camp in the Philippines. Many was a bright kid and started to learn English in the camps.</p>
</div>
