<div class="col-md-offset-2 col-md-8 col-sm-12">
	<h3 class="section-heading">Let out and locked up</h3>
	<p>When Many was released in 1997, he was immediately handed over to the Immigration and Naturalization Service (predecessor to Immigration and Customs Enforcement). The laws passed in 1996 triggered automatic deportation, even for permanent residents like Many.</p>
	<p>At the time Cambodia was not accepting any deportees. Many could see no end to his life in immigrant detention - the US had ordered him to be deported, but Cambodia did not want him. For two years, he used his self-taught legal knowledge to petition the government over and over to let him out. He helped organize hunger strikes and wrote letters to the press.</p>

	<img class="fullbleed-img" src="img/graffiti.jpg" alt="Graffiti in the yard at the former INS detention center in Seattle where Many was held.">
	<p class="caption">Graffiti in the yard at the former INS detention center in Seattle where Many was held. Photo by Mari Quenemoen</p>
</div>
