<div id="carousel-example-generic" class="carousel slide" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="gang-testimony item active">
          <img class="gang-testimony__image" src="img/Rithy and family cropped.jpg" alt="...">
          <div class="gang-testimony__narrative-wrapper">
              <h3 class="gang-testimony__name">Rithy Yin</h3>
              <blockquote class="gang-testimony__narrative">
                  When I was nine, my family moved to a neighborhood in Seattle where there was a lot of crime, drugs, and gangs. My older brother left when I was young and couldn’t protect me, and I got bullied at school for being Asian and being poor. My mom was still in shock from surviving the war, she couldn’t really help me either. So I had to start fighting back, and I got involved in some bad stuff. When I was 18, I got arrested for robbing a convenience store. No one got hurt, but I served 10 years.
              </blockquote>
          </div>
    </div>
    <div class="item gang-testimony">
      <img src="img/Puthy Touch and family.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Touch Hak</h3>
          <blockquote>
I came here when I was six. I was born during the war in the Khmer Rouge time. There was no medical treatment, nothing. I grew up in a gang-infested neighborhood in Stockton, but I was a good kid...but then one day a man came to my elementary school and started shooting at Cambodian refugee kids. I saw blood all over, it was like the Killing Fields again.  After that, my grades slipped, I had nightmares. I started getting in trouble.
          </blockquote>  
      </div>
    </div>
    <div class="item">
      <img class="gang-testimony__image" src="img/Leach and daughters.jpg" alt="...">
      <div class="gang-testimony__narrative-wrapper">
          <h3 class="gang-testimony__name">Leach Chhoeun</h3>
          <p>Leach came to the United States as a refugee from Cambodia when he was 4 years old, after most of his family was killed during the genocide. Like other refugees, Leach’s family was resettled in an impoverished neighborhood plagued by gang violence, poor schools, unemployment, and a lack of any resources for new immigrants. Cambodian youth were picked on and began joining together for protection. By elementary school, Leach was in a gang.</p>
          <p>In 1996, at the age of 18, Leach was arrested for assault with a firearm following an incident in which his cousin exchanged gunfire with a rival gang. Leach was present but unarmed, no one was injured in the incident, but Leach served one year in state prison. Weeks after his conviction, Congress retroactively designated it as an aggravated felony stripping the judge of authority to consider rehabilitation. He was deported to Cambodia in 2015, only minutes before a judge issued a “stay of removal.” He is now appealing his case.</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
