<div class="col-md-offset-2 col-md-8 col-sm-12">
	<br><br>
	<p>In 1994, when he was eighteen, Many was caught driving the getaway car during a robbery and spent three years in prison. He pled guilty to all charges, not wanting to take a plea in exchange for “snitching” on his friends. He did not know that this guilty plea would later guarantee his deportation. In 1996, Congress passed <em>retroactive</em> laws that made a conviction like his grounds for automatic deportation without judicial review. As a lawful permanent resident who had not yet naturalized, Many became deportable overnight.</p>
	<video width="100%" height="auto" controls>
		<source src="img/1.mp4" type="video/mp4">
	</video>
	<p class="caption">Many talks about the steps that led to his incarceration, from the film, "Sentenced Home."</p>
	<p>While he was in prison, Many began to read books, teach himself immigration and criminal law, and take community college courses. He participated in an Asian American cultural group and mentored younger inmates. He learned to read and speak Khmer, the Cambodian language, and performed religious ceremonies in the prison.</p>
	<br><br>
</div>
