<div class="col-md-6 col-sm-12">
	<img class="portrait-img" src="img/{{include.section.image}}" alt="Many Uch and his two daughters.">
	<p class="caption">Many Uch with his two daughters. Photo by Phuong Do</p>
</div>

<div class="col-md-6 col-sm-12">
	<h1>This is the story of<br><span id="many">MANY UCH.</span></h1>
	<br><br>
	<p>Many is a Cambodian refugee who has been fighting his order of deportation for almost 20 years. It is also the story of how refugees and permanent residents may be deported for mistakes they made in their youth – mistakes they’ve already paid their debts for.</p>

    <p>Today, Many is a proud husband and father, a dedicated mentor and a nationally recognized advocate. He has a pardon from the governor of Washington, runs a nonprofit and has been appointed to a statewide commission on prisoner reentry.</p>

    <p class="emphasis2">But, in the eyes of US immigration law, he is still a “criminal alien.”</p>
</div>
