<div class="col-md-offset-2 col-md-8 col-sm-12">
	<hr style="margin-top:0px">
	<h3 class="section-heading">1996 Immigration Laws: Automatic Injustice</h3>
	<p>Congress passed two laws in 1996 – the Antiterrorism and Effective Death Penalty Act (AEDPA) and the Illegal Immigration Reform and Immigrant Responsibility Act (IIRIRA) – that made it much more likely that immigrants with criminal convictions could be deported. Together, they:</p>
	<ul style="list-style-image:url('img/icon.png')">
		<li>Greatly expanded the number and types of crimes that lead to automatic deportation to include lower-level offenses and nonviolent crimes</li>
		<li>Created fast tracks to deportation that bypassed seeing an immigration judge</li>
		<li>Put many more immigrants in detention facilities while they fight their cases, without the option for release</li>
		<li>Increased cooperation between Immigration and Customs Enforcement and local police</li>
	</ul>
	<br>
</div>
