<div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2>{{include.section.title}}</h2>

    <p class="limbo-description">Thousands of people with final deportation orders to Cambodia, Laos and Vietnam remain in the United States, unsure of when or if they'll be forced to leave.</p>

    <div id="limbo-animation-container" class="limbo-animation-container"></div>

	<p>Many could not be deported to Cambodia in 1997 because the country was refusing to accept deportees at the time.  The same was true for Laos and Vietnam.  Only in 2002 did Cambodia sign a Memorandum of Understanding with the US and begin to issue travel documents for a limited number of deportees - but only a few dozen per year. In 2008, Vietnam began to accept only deportees who arrived in the United States after 1995, excluding most people who came as refugees. Laos still has no repatriation agreement with the United States.</p>
	<p>Because of these unusual agreements or lack of agreements, thousands of people with final orders to Cambodia, Laos, and Vietnam remain in the United States in immigration limbo - their Green cards taken away, but living and often working in the communities.</p>
</div>
