<div class="col-md-offset-2 col-md-8 col-sm-12">
	<h3 class="section-heading">Fighting for justice</h3>
	<video width="100%" height="auto" controls>
		<source src="img/2.mp4" type="video/mp4">
	</video>
	<p class="caption">Many and others describe his contribution to the community.</p>
	<p>After Many was released, he worked hard to help other Cambodian youth avoid the mistakes he made. He returned to White Center and started a Little League team for Cambodian kids, and fixed up an old pool hall to serve as a youth center. He began to organize against deportation with other activists in the Seattle area with the group Khmer in Action, and used his self-taught legal knowledge to help other deportees navigate the system. He married and has two daughters.</p>
	<p>In 2015, he started a group called <a href="http://www.fightwa.org/about-us-2/" target="_blank">F.I.G.H.T. (Formerly Incarcerated Group Healing Together)</a> that brings an Asian American studies-based curriculum and support group in Clallam Bay prison.</p>
</div>
