<div class="col-md-offset-2 col-md-8 col-sm-12">
	<h3 class="section-heading">Finding Refuge</h3>
	<p>On April 14, 1984 they were resettled in Richmond, Virginia, where they didn’t know anyone.  They were put into low-income housing and lived on welfare, with no one to help them adjust to life in a new country. A year later they moved to Seattle, to the rough White Center neighborhood where they knew some other Cambodian refugees.</p>
	<p>Refugees from Southeast Asia are the largest community of refugees ever resettled in the United States. Over 1.3 million refugees were resettled after the war in Vietnam ended in 1975. Cambodian refugees were resettled across the country, but many families moved to join large communities in Seattle, WA, Long Beach, CA, Lowell, MA, and Philadelphia, PA.</p>
</div>

<div class="col-md-6 col-sm-12 chart">
	<div id="chart1" style="min-width:310px; min-height:400px;"></div>
	<p class="caption">Multiple waves of refugees from Southeast Asia have resettled in the US since the end of the war in Vietnam in 1975. Office of Refugee Resettlement Annual Reports to Congress 1996-2008 </p>
</div>

<div class="col-md-6 col-sm-12 chart">
	<div id="chart2" style="min-width:310px; min-height:400px;"></div>
	<p class="caption">More than a million refugees from Southeast Asia have resettled in the US since 1975. Office of Refugee Resettlement Annual Reports to Congress 1996-2008</p>
</div>
