<div class="col-md-offset-2 col-md-8 col-sm-12">
	<p><strong>About Us</strong></p>
	<p>We are a group of advocates, journalists, and developers who came together during one weekend at the Migrahack Hackathon in Chicago. We highlight the uniqueness of deportation among the Southeast Asian refugee community in the U.S. In particular, we follow the story of Many Uch, a Cambodian refugee who had resettled in the U.S. and is now in deportation limbo.</p>

	<p><strong>Our Team</strong></p>
	<p>Aditi Bhandari<p>
	<p>Chrissy Ha</p>
	<p>Geoff Hing</p>
	<p>Elaine Linas</p>
	<p>Nikita Mandhani</p>
	<p>Mari Quenemoen</p>
	<p>Brian Wyrick</p>

	<p><strong>Sources</strong></p>
</div>